.type-button {
  text-align: center;
  box-sizing: border-box;
}
.type-button .button {
  text-align: center;
  padding: 15px 120px;
  background-color: #FF2346;
}
.type-button .button a {
  color: #FFFFFF;
}
.type-button .button a:hover {
  text-decoration: none;
}
